div.Title, caption.Title
{
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Body, caption.Body
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.List_1, caption.List_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Child_Topics_Link_Pool_Open, caption.Child_Topics_Link_Pool_Open
{
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 2pt;
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  font-weight: bold;
  margin-bottom: 1pt;
  margin-top: 1pt;
}

div.Child_Topics_Link_Pool_Close, caption.Child_Topics_Link_Pool_Close
{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2pt;
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  font-weight: bold;
  margin-bottom: 1pt;
  margin-top: 1pt;
}

div.Child_Topic, caption.Child_Topic
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  margin-left: 18pt;
}

div.Heading_1, caption.Heading_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Table_Cell_Head, caption.Table_Cell_Head
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Table_Cell, caption.Table_Cell
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Lines, caption.Lines
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
  white-space: pre;
}

div.Parent_Topics_Link_Pool_Open, caption.Parent_Topics_Link_Pool_Open
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

div.Parent_Topic, caption.Parent_Topic
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  margin-left: 18pt;
}

div.Section, caption.Section
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.Section_Title, caption.Section_Title
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Context, caption.Context
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.procedure, caption.procedure
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 6pt;
  padding-top: 6pt;
}

div.Step_1, caption.Step_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 3pt;
  padding-left: 18pt;
  padding-top: 3pt;
  text-indent: -18pt;
}

div.Step_1_Continued, caption.Step_1_Continued
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

div.Step_Info_1, caption.Step_Info_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

div.Preformatted_1, caption.Preformatted_1
{
  background-color: #E5E4E4;
  color: #333333;
  font-family: 'Source Code Pro', monospace;
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 18pt;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  white-space: pre;
}

div.Heading_2, caption.Heading_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.45em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Note, caption.Note
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.Choice_2, caption.Choice_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Tip_1, caption.Tip_1
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.Step_Result_1, caption.Step_Result_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

div.Table_Description, caption.Table_Description
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.Body_1, caption.Body_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
}

div.Note_1, caption.Note_1
{
  background-color: #E5E4E4;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 18pt;
  margin-top: 2px;
  padding-bottom: 6pt;
  padding-left: 2pt;
  padding-top: 6pt;
}

div.Unordered_Step_1, caption.Unordered_Step_1
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Unordered_Step_1_Continued, caption.Unordered_Step_1_Continued
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  margin-left: 18pt;
}

div.Numbered_2, caption.Numbered_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-left: 36pt;
  padding-top: 0pt;
  text-indent: -18pt;
}

div.Heading_3, caption.Heading_3
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 25px;
}

div.Choice_2_Continued, caption.Choice_2_Continued
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.List_1_Continued, caption.List_1_Continued
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
  padding-bottom: 0pt;
  padding-top: 0pt;
}

div.internalhead, caption.internalhead
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.Substep_2, caption.Substep_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 9px;
  padding-bottom: 3pt;
  padding-left: 36pt;
  padding-top: 3pt;
  text-indent: -18pt;
}

div.Substep_2_Continued, caption.Substep_2_Continued
{
  color: #FF8000;
  font-family: 'Roboto', sans-serif;
  margin-left: 36pt;
}

div.Step_Info_2, caption.Step_Info_2
{
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
}

span.uicontrol, abbreviation.uicontrol, acronym.uicontrol, citation.uicontrol
{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

span.varname, abbreviation.varname, acronym.varname, citation.varname
{
  font-style: italic;
}

span.userinput, abbreviation.userinput, acronym.userinput, citation.userinput
{
  font-family: 'Source Code Pro', monospace;
}

span.ph_002c_Citation, abbreviation.ph_002c_Citation, acronym.ph_002c_Citation, citation.ph_002c_Citation
{
  font-style: italic;
}

span.Command_002c_uicontrol, abbreviation.Command_002c_uicontrol, acronym.Command_002c_uicontrol, citation.Command_002c_uicontrol
{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

span.apiname, abbreviation.apiname, acronym.apiname, citation.apiname
{
  font-family: 'Source Code Pro', monospace;
}

span.codeph, abbreviation.codeph, acronym.codeph, citation.codeph
{
  font-family: 'Source Code Pro', monospace;
}

span.inlinetitle, abbreviation.inlinetitle, acronym.inlinetitle, citation.inlinetitle
{
  font-weight: bold;
}

span.Bold
{
  font-weight: bold;
}

table.rules1
{
  margin-bottom: 9pt;
  margin-top: 5pt;
  padding-right: 20pt;
}

table.norules2
{
  margin-bottom: 9pt;
  margin-left: 19pt;
  margin-top: 5pt;
}

table.norules
{
  margin-bottom: 9pt;
  margin-top: 5pt;
}

table.norules3
{
  margin-bottom: 9pt;
  margin-left: 37pt;
  margin-top: 5pt;
}

